.gradle/
.kotlin/
**/build/

local.properties

*.iml
.idea/

.externalNativeBuild/
.cxx/
captures/
*.hprof
*.apk
*.aab

*.jks
*.keystore
!debug.keystore
keystore.properties
key.properties
secrets.properties
.env
.env.*
!.env.example

.DS_Store
._*
